@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lalezar', cursive;
  }
}

@layer components {
  .font-lalezar {
    font-family: 'Lalezar', cursive;
  }
  
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Scrollbar customizada */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
  
  /* Animações para os projetos */
  .work-item {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.9s ease-in-out;
  }
  
  .work-item.show {
    opacity: 1;
    transform: translateY(0);
  }
} 