// colors
$color-p: #4facfe;
$color-s: #00f2fe;
$color-1: #5dfdba;
$color-2: #ff648b;
$color-3: #fbaf0d;
$black: #21222d;
$white: #eff0ea;
$gray: #dae0e5;
$contrast: #c3cfd9;
$gradient-p: linear-gradient(to right, #21222d 0%, #21222d 100%);

// Mixins
@mixin typePrimary {
  font-family: 'Lalezar', cursive;
}
@mixin typeSecondary {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
@mixin type-1($size) {
  @include typePrimary;
  @if $size == 14 {
    font-size: 0.875em;
    line-height: 1.42857142857143em;
  }
  @if $size == 18 {
    font-size: 1.125em;
    line-height: 1.3888889em;
  }
  @if $size == 24 {
    font-size: 1.5em;
    line-height: 1.25em;
  }
  @if $size == 36 {
    font-size: 2.25em;
    line-height: 1.6666667em;
  }
  @if $size == 48 {
    font-size: 3em;
    line-height: 1em;
  }
  @if $size == 60 {
    font-size: 3.75em;
    line-height: 1em;
  }
  @if $size == 80 {
    font-size: 5em;
    line-height: 1em;
  }
}

@mixin type-2($size) {
  @include typeSecondary;
  @if $size == 14 {
    font-size: 0.875em;
    line-height: 1.42857142857143em;
  }
  @if $size == 18 {
    font-size: 1.125em;
    line-height: 1.3888889em;
  }
  @if $size == 24 {
    font-size: 1.5em;
    line-height: 1.25em;
  }
  @if $size == 36 {
    font-size: 2.25em;
    line-height: 1.6666667em;
  }
  @if $size == 48 {
    font-size: 3em;
    line-height: 1em;
  }
  @if $size == 60 {
    font-size: 3.75em;
    line-height: 1em;
  }
}
// Shadows & borders
@mixin shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 40px 0px rgba(44, 42, 52, 0.12);
    -moz-box-shadow: 0 10px 40px 0px rgba(44, 42, 52, 0.12);
    -webkit-box-shadow: 0 10px 40px 0px rgba(44, 42, 52, 0.12);
  }
}
@mixin radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
// breakpoints
$breakpoints: (
  'cel': 475px,
  'tab': 770px,
);
@mixin bp($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
