.nav-bar {
  display: flex;
  justify-content: flex-end;
}
#menu-principal {
  background: $black;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.35s ease;
  transform: translate3d(0, -200%, 0);
  & li:before {
    display: none;
  }
  .menu-item a {
    display: block;
    padding: 20px 0;
    @include type-2(60);
    color: $white;
    text-transform: lowercase;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
// Hamburger
.nav-trigger {
  display: block;
  position: absolute;
  height: 44px;
  width: 44px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  margin: 15px 0 0 0;
  z-index: 11;
  cursor: pointer;
}
.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
  position: absolute;
  height: 2px;
  width: 36px;
  background: $white;
}
.nav-trigger span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s;
  &::before,
  &:after {
    content: '';
    top: 0;
    left: 0;
    transition: all 0.35s ease;
  }
}
.nav-trigger span::before {
  transform: translateY(-12px);
}
.nav-trigger span::after {
  transform: translateY(12px);
}
.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
  background: $white;
}
.nav-trigger.active span {
  background: transparent;
  &::before,
  &:after {
    background: $white;
  }
}
.nav-trigger.active span::before {
  transform: rotate(-45deg);
}
.nav-trigger.active span::after {
  transform: rotate(45deg);
}
