.post-content {
  >h2 {
    @include type-1(36);

    &:first-child {
      margin-top: 60px;
    }
  }

  >p {
    @include type-2(18);
    margin: 5px 0 30px 0;

    >img {
      width: 100%;
      height: auto;
    }
  }

  @include bp(cel, max) {
    >h2 {
      @include type-1(24);
    }
  }
}

#thanks {
  background: $gradient-p;

  h1 {
    text-transform: capitalize;
    color: $white;

    &:after {
      background: $white;
    }
  }

  p {
    color: $white;
  }
}

.social-share {
  margin-top: 20px;
  display: flex;
  align-items: center;

  ul>li {
    display: inline-block;

    >a {
      padding: 5px;

      >svg {
        width: 20px;
        height: auto;
        stroke: transparent;
        fill: $white;
      }
    }
  }
}