// Global
html {
  scroll-behavior: smooth;
  font-display: swap;
}

body {
  background: $black;
  color: $white;
  @include type-2(14);
  font-display: swap;
}

a {
  @include type-2(18);
  text-transform: lowercase;
  color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}

p {
  letter-spacing: 1px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.small {
  font-size: 80% !important;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  h1 {
    @include type-1(80);
    color: $white;

    @include bp(cel, max) {
      font-size: 3em;
    }
  }

  p {
    max-width: 450px;
    @include type-2(18);
  }

  &-custom {
    @include bp(tab, min) {
      max-width: 768px;
    }
  }
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60vh;
}

.hero-body {
  flex: 1 0 100%;
  align-items: center;
  display: flex;
  padding-bottom: 9rem;
  padding-top: 9rem;
}

.btn {
  padding: 5px 15px;
  display: inline-block;
  margin: 15px 0;
  transition: all 0.35s ease;
  @include radius(5px);
  color: white;
  text-decoration: none;

  &-primary {
    border: 1px solid $white;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 10px;
}

h1 {
  @include type-1(48);
  color: $white;

  @include bp(cel, max) {
    font-size: 3em;
  }
}

h2 {
  @include type-1(48);
  color: $white;
}
