#home {
  min-height: 100vh;

  .home-content {
    p {
      @include type-2(24);
      text-transform: lowercase;

      @include bp(cel, max) {
        font-size: 1.2em;
      }
    }
  }
}

// work
.work {
  padding: 30px 0;
  position: relative;
  display: grid;
  gap: 30px;

  &-single {
    border: 1px solid $contrast;
    overflow: hidden;
    @include radius(5px);

    &-content {
      padding: 15px;
    }

    &-links {
      padding: 0 15px 15px 15px;
      a {
        margin: 0 15px 0 0;
      }
    }
  }
}

.contact-ways a svg {
  margin: 15px 0 0 0;
  width: 36px;
}
