#resume-intro {
  background: $gradient-p;

  h1 {
    color: $white;

    &:after {
      background: $white;
    }
  }

  p {
    color: $white;
  }
}

.skills {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  @include bp(cel, max) {
    flex-direction: column;

    ul {
      margin-bottom: 15px;
    }
  }

  &-list > li,
  &-list-personal > li {
    position: relative;
    @include type-2(18);

    &:before {
      background: $color-1;
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      left: -15px;
      top: 8px;
      @include radius(50%);
    }
  }
}

.history-item {
  margin: 60px 0;

  .tech {
    color: $color-1;
    display: block;
    margin-top: 15px;
    letter-spacing: 1.2px;
    @include type-1(12);
  }

  h2 {
    @include type-1(48);
    color: $color-1;
  }

  h3 {
    @include type-1(36);
    color: $white;
  }

  h4 {
    @include type-1(24);
    color: $white;
  }

  p {
    margin: 15px 0;
  }
}

.education-list {
  padding: 0 15px;

  > li {
    position: relative;
    @include type-2(18);

    &:before {
      background: $color-1;
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      left: -15px;
      top: 8px;
      @include radius(50%);
    }
  }
}
